apiVersion: v1
kind: Service
metadata:
  name: spring-hello-service
  labels:
    app: spring-hello
spec:
  type: NodePort
  selector:
    app: spring-hello
    tier: backend
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http